.about-me-header{
    background-color: white;
    position: relative;
    border-bottom: 1px solid #000;
    width: 150px;
    margin: 5px;
}
.about-me-container{
    height: 110vh;
    background: linear-gradient(to left, rgba(200, 200, 200, .5), rgba(00, 00, 00, .5), rgba(00, 00, 00, .5), rgba(200, 200, 200, .5))
}
.style-notflat{
    background: linear-gradient(to left, rgba(200, 200, 200, .5), rgba(00, 00, 00, .5), rgba(00, 00, 00, .5), rgba(200, 200, 200, .5));
    transform: rotate(355deg);
    background-color: white;
    height: 150px;
    width: 110%;
    margin: -70px 0px 0px -40px;
}