.about-me-container{
    height: 100vh;
    background: linear-gradient(rgba(100, 100, 100, .5), rgba(200, 200, 200, .5));
    // color: white;
}
.about-me-header{
    border-bottom: 1px solid #000;
    width: 150px;
    font-size: 2em;
}
.about-me-text{
    color: black;
}
.mini-nav{
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    position: sticky;
    height: 50px;
    align-items: center;
    width: 100%;
    bottom: 0px;
}