@import "./Variables";

.splash-page-container{
    height: 105vh;
    display: flex;
    justify-content: flex-start;
    background-image: url("https://images.unsplash.com/photo-1470955233021-2c79a52e5034?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    align-items: center;
    flex-direction: column;
}
.title-text-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    font-size: 1.25em;
}
.click-more-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-arrow-alt-circle-down{
    font-size: 2em;
}

.splash-page-container-parallax{
    width: 300px;
}